In [2]:
import pandas as pd

In [17]:
data = pd.read_csv('data.csv')
data.fillna(0, inplace=True)
data["date"] = pd.to_datetime(data["date"], format="%d.%m.%Y %H:%M")

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3135 entries, 0 to 3134
Data columns (total 22 columns):
date       3135 non-null datetime64[ns]
K1         3135 non-null float64
K2         3135 non-null float64
K3         3135 non-null float64
K4         3135 non-null float64
K5         3135 non-null float64
K6         3135 non-null float64
Tfwd       3135 non-null float64
Tret       3135 non-null float64
Pfwd       3135 non-null float64
Pret       3135 non-null float64
Pump1      3135 non-null float64
Pump2      3135 non-null float64
Pump3      3135 non-null float64
Pump4      3135 non-null float64
Pump5      3135 non-null float64
Pump6      3135 non-null float64
Pump3.1    3135 non-null float64
Pump6.1    3135 non-null float64
Pboil      3135 non-null float64
Tboil      3135 non-null float64
Vfwd       3135 non-null float64
dtypes: datetime64[ns](1), float64(21)
memory usage: 538.9 KB

In [19]:
data.head()

,date,K1,K2,K3,K4,K5,K6,Tfwd,Tret,Pfwd,...,Pump2,Pump3,Pump4,Pump5,Pump6,Pump3.1,Pump6.1,Pboil,Tboil,Vfwd
0,2018-01-19 08:00:00,1.0,1.0,1.0,1.0,0.0,0.0,77.0,57.0,7.1,...,1.0,1.0,0.0,1.0,1.0,0.0,1.0,5.1,61.0,2653.0
1,2018-01-19 10:00:00,1.0,1.0,1.0,1.0,0.0,0.0,77.0,57.0,7.0,...,1.0,1.0,0.0,1.0,1.0,0.0,1.0,5.1,61.0,2643.0
2,2018-01-19 12:00:00,1.0,1.0,1.0,1.0,0.0,0.0,77.0,57.0,7.0,...,1.0,1.0,0.0,1.0,1.0,0.0,1.0,5.1,61.0,2663.0
3,2018-01-19 14:00:00,1.0,1.0,1.0,1.0,0.0,0.0,77.0,58.0,7.0,...,1.0,1.0,0.0,1.0,1.0,0.0,1.0,5.1,61.0,2681.0
4,2018-01-19 16:00:00,1.0,1.0,1.0,1.0,0.0,0.0,77.0,58.0,7.0,...,1.0,1.0,0.0,1.0,1.0,0.0,1.0,5.1,61.0,2644.0